* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.section_1 {
    width: 100%;
    min-height: 70vh;
    padding: 5%;
    font-size: 2.0rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_11 {
    font-size: 4.0rem;
    font-weight: 500;
}
.section_12 {
    font-weight: bold;
    background-image: linear-gradient(110deg,rgb(130 167 154 / 94%), #02aab0);color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section_2 {
    padding: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(110deg,rgb(130 167 154 / 94%), #02aab0);
}
.section_21{
    padding-bottom: 50px;
    font-size: 4.0rem;
    color: white;
    font-weight: bold;
}
.section_22 {
padding-top: 2rem;    
font-size: 2.0rem;
color: white;
font-weight: 100;
max-width: 700px;
}

.section_3 {
    width: 100%;
    min-height: 50vh;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.section {
    font-size: 4.0rem;
    margin-bottom: 80px;
    text-align: center;
}
.parents {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.box_1 {
    box-shadow: rgb(209 207 207) 5px 6px 14px 1px;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    width: 230px;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}

.img_1 {
    height: 300px;
    border-radius: 50%;
    border: 3px solid rgb(189, 186, 186);
}

.img_2 {
    height: 35px;
}
.img_3 {
    height: 35px;
}
.img_4 {
    height: 35px;
}
.img_5 {
    height: 100%;
}
.img_6 {
    height: 100%;
}
.img_7 {
    height: 100%;
}

.figure_1 {
    padding: 10px;
}
.figure_2 {
    padding: 10px;
}
.figure_3 {
    padding: 10px;
}
.footer_img {
    background-color: #fafafa;
    box-shadow: #ffffff 11px 14px 20px 19px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}